.input{
    height: 3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: lighter;
    font-size: 2em;
    background-color: #dbdad6;
    color: #272727;
    padding: 0.5em;
    padding-bottom: 0em;
    margin-bottom: 0.4em;
    border: 1px solid #dbdad6;
    border-bottom-color: #272727;
    border-radius: 1%;
    overflow: hidden;
}
